@tailwind base;
@tailwind components;
@tailwind utilities;

.output {
  color: white;
  white-space: pre-line;
}

.scrolling {
  overflow-y: scroll;
}

.scrolling::-webkit-scrollbar {
  display: none;
}

p {
  color: white;
}

input {
  caret-color: white;
  color: white;
  background-color: transparent;
  width: 100%;
}

input:focus {
  outline: none;
}

.childButton {
  display: none;
}

#parentButtons:hover .childButton {
  display: block;
}
